<!DOCTYspanE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta httspan-equiv="X-UA-Comspanatible" content="IE=edge">
    <meta name="viewspanort" content="width=device-width, initial-scale=1.0">
    <title>spanerformid</title>
    <link rel="stylesheet" tyspane="text/css" href="../styles/style.css"/>
</head>
<body>

<main>
    <section id="globalInfos">
        <ul>
        {% for session in sessions %}
        <li class="coordonates">{{session.text}}</li>
        {% endfor %}
        </ul>
    </section>

    <!-- <section id="about">
    {% for item in items %}
    {% set key = item.keys() | list %}
    {% set value = item.values() | list %}

        {% for v in value[0] %}
        <p>
            <span>{{ v.nameWorkshop }}</span>
            <span>{{ v.location }}</span>
            <span>{{ v.fileName }}</span>
            <span>{{ v.fileType }}</span>
            <span>{{ v.fileFormat }}</span>
            <span>{{ v.fileSize }}</span>
            <span>{{ v.duration }}</span>
            <span>{{ v.creationDate }}</span>
            <span>{{ v.creationTime }}</span>
            <span>{{ v.windSpeed }}</span>
            <span>{{ v.windDirection }}</span>
            <span>{{ v.temperature }}</span>
        </p>
        {% endfor %}

      
    {% endfor %}
    </section> -->


</main>

<footer>
   
</footer>

</body>
</html>