.container > input,
.container > input ~ div {
    display: none;
}
.container > input:checked + div.feuille{
    display: block;
}
.feuillet label{
    box-sizing: border-box;
    border: 1px solid red;
    padding: 0.5rem;
    cursor: pointer;
}
.feuillet label:hover{
    background: red;
    color: white;
}