<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	{% for line in data %}
		{{ line.nom_session }}
		{{ line.date_session }}
		{{ line.date_session }}
	{% endfor %}
</body>
</html>
