@font-face {
    font-family: 'Bitter-Bold';
    src: url(fonts/Bitter-Bold.ttf);
}

/* GENERAL */
body{
    margin: 0;
}
main, header{

}


/* RESPONSIVE */
@media only screen and (max-width: 1040px) {

}