@font-face {
    font-family: 'directorLight';
    src: url(fonts/Director-Light.ttf);
}
@font-face {
    font-family: 'directorReg';
    src: url(fonts/Director-Regular.ttf);
}
@font-face {
    font-family: 'directorBold';
    src: url(fonts/Director-bold.ttf);
}
@font-face {
    font-family: 'barbule';
    src: url(barbule.ttf);
}

/* GENERAL */

:root {
    --main-txt-color: rgb(0 3 30);
    /* --main-background-color: rgb(0 174 232); */
    --main-background-color: rgb(0 232 155);
    --lead-txt-color: white;
    --orange: rgb(255, 76, 38);
		--font-size : 20px;
		--unity: 16px;
  }

  ::selection{
    background: var(--main-background-color);
    color: white;
  }

html {
	font-size: 20px;
}

body{
    margin: 0;
    overflow: hidden;
    /* background-image: url(../images/image.png);
    background-repeat: repeat; */
    background: var( --main-background-color);
		transition: background .3s ease-out;
}


h1,
h2,
h3{
    font-weight: normal;
}

header img.logoPerf{
    width: 4vw;
    height: auto;
    position: fixed;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 100;
} 

section#globalInfos{
    color: var(--main-txt-color);
    /* display: none; */
    display: block;
    overflow-y: scroll;
}

section#media{
    display: none;
    /* background: white; */
    color: var(--main-txt-color);
		z-index: 1;
}

body.file section#media {
	display: block;
}

table{
    font-family: "barbule";
    font-size: 3.5rem ;
    margin-top: 4vh;
    /* font-weight: bolder; */
    width: 100%;
}

td{
    width: 3%;
    cursor: pointer;
}
td p{
    transform-origin: bottom;
    -webkit-text-stroke: 1px ;
    margin-bottom: calc(var(--unity) / 2);
}

td p:hover{
    color: white;
}

td:nth-of-type(n+2) p{
    transform: rotate(45deg);
}

td:nth-of-type(n+3) p{
    transform: rotate(160deg);
}

td:nth-of-type(n+1) p{
    transform: rotate(5deg);
}

td:nth-of-type(n+4) p{
    transform: rotate(100deg);
}
td:nth-of-type(n+5) p{
    transform: rotate(30deg);
}
td:nth-of-type(n+6) p{
    transform: rotate(145deg);
}
td:nth-of-type(n+7) p{
    transform: rotate(45deg);
}
td:nth-of-type(n+9) p{
    transform: rotate(60deg);
}
td:nth-of-type(n+10) p{
    transform: rotate(90deg);
}
td:nth-of-type(n+11) p{
    transform: rotate(-15deg);
}
td:nth-of-type(n+12) p{
    transform: rotate(-35deg);
}
td:nth-of-type(n+13) p{
    transform: rotate(-50deg);
}
td:nth-of-type(n+14) p{
    transform: rotate(-80deg);
}

.infos ul{
    z-index: 38;
    position: fixed;
    bottom: 0;
    left: 0;
    font-family: "directorLight";
		font-size: 1rem;
}

.infos ul .name{
    text-transform: uppercase;
}

.infos ul p{
    margin: 0;
}

.coordonates{
    font-size: 1rem;
    line-height: 1.2rem;
    border-right: 1px solid;
    padding-right: 30px;
}

.infos ul p span{
    background: var(--main-txt-color);
    /* color:var( --main-background-color); */
    padding: 0.5vh;
}


.imgContainer{
    height: 100%;
    width:100%;
    background: var(--main-txt-color);
    mix-blend-mode: difference;
    display: flex;
    justify-content: center;
}

.imgTest{ 
    height: 100vh;
    z-index:11;
    position: fixed;
    mix-blend-mode: exclusion;
    filter: invert(1) contrast(300%) blur(20px) grayscale(1) sepia(1);
    margin-left: auto;
    margin-right: auto;
    top: 0;
}

.textBackground {
	position: fixed;
	top: 3rem;
	filter: blur(1vw);
	font-size: 20vw;
	z-index: 20;
	background: -webkit-linear-gradient(#eee, #333);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transform: scale(1,2);
}

.menu img.rose{
    width: 7vw;
    height: auto;
    position: fixed;
    margin-top: 80vh;
    margin-left: 90vw;
} 

.menu ul{
    display: flex;
    position: fixed;
    font-family: "directorBold";
    margin-left: 5vw;
    margin-top: 10px;
}

.menu ul li{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1rem;
    line-height: 1.5rem;
}

.menu ul li:nth-of-type(8){
    font-size: 15pt;
    line-height: 21pt;
}

.menu ul li:nth-of-type(1),
.menu ul li:nth-of-type(2),
.menu ul li:nth-of-type(3){
    font-size: 30pt;
    margin-top: -9px;
}

.menu ul li .coordonates{
    font-size: 1rem !important;
    line-height: 1.5rem;
}

.menu ul li:hover{
   color: var(--lead-txt-color);
   text-decoration: none;
   cursor: pointer;
}

.close{
    right: 0.5vw;
    position: fixed;
    font-size: 2rem;
    font-family: "directionLight";
}

ul{
    padding:0;
    margin: 0;
    z-index: 10;
    position: relative;
}

ul li{    
    list-style: none;
    /* background: white; */
    /* outline: solid 1px; */
    padding-left: 10px;
    padding-right: 10px;
    
}


section#media .imgContainer{
    background: white !important;
    mix-blend-mode: normal;
}
section#media .imgContainer img.imgTest{
    mix-blend-mode: normal;
    filter: invert(0) blur(0px) grayscale(0) sepia(0);
}
section#media .imgContainer .before,
section#media .imgContainer .next{
    z-index: 8;
    font-size: 40pt;
    cursor: pointer;
    margin-top: 40vh;
    position:fixed;
}
section#media .imgContainer .before{
    margin-right: 76vw;
}
section#media .imgContainer .next{
    margin-left: 76vw;
}


section#media .imgContainer .next:hover,
section#media .imgContainer .before:hover{
    color: var(--main-background-color)
}

.infosMedia{
    height: 100vh;
    width: 25vw;
    /* background: radial-gradient( var(--orange), white);  */
    position: absolute;
    font-family: "directorLight";
    top: 0;
    font-size: 1rem;
    line-height: 16pt;
    z-index: 12;
    transition: margin-left 0.2s ease-in-out;
    padding-top: 18vh;
    padding-left: 0.5vw;
}

.infosMedia:hover{
    z-index: 8;
}

.infosContainer{
    height: 82vh;
    width: 24.5vw;
}


.infosMedia h1, .infosMedia h2, .infosMedia ul{
    font-size: 13pt;
    line-height: 16pt;
}

.infosMedia:hover{
    margin-left: 0;
    transition: all 0.2s ease-in-out;
}

.infosMeteo{
    font-size: 12pt;
    color: var(--main-background-color);
    background: var(--main-txt-color);
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 0.5vw;
}


.infosMeteo ul{
    display: flex;
    justify-content: center;
}

.infosMeteoul ul li:hover{
    text-decoration: none;
}

.windForce{
    font-family: "barbule";
    font-size: 27pt;
}

.windForce, .windSens{
    border-right: 1px solid;
}

.workshopInfos{
    word-break: break-word;
    margin-top: 3vh;
}

.workshopInfos span{
    background: var(--main-txt-color);
    padding: 5px;
    /* color: var(--main-background-color);*/
}

.workshopInfos p span{
    color: white;
}

.workshopInfos .name h2{
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: var(--main-background-color);
    color: white;
}

.workshopInfos .artists h2,.workshopInfos .place h2,.workshopInfos .date h2{
    color: var(--main-background-color);
    margin-top: 0px;
    margin-bottom: 0px;
}

.workshopInfos .artists p{
    margin-top: 0px;
    border-left: 1px solid var(--main-background-color);
    padding-left: 0.5vw;
}

.workshopInfos ul li:hover{
    text-decoration: none;
}

li.est:hover,
li.sudest:hover,
li.sud:hover{
    z-index: 2;
}

/* SENS DU VENT */
.nordouest{
    transform: skewX(-10deg)
}
.ouest{
    transform: skewX(-15deg)
}
.sudouest{
    transform: skewX(-20deg)
}
.nordest{
    transform: skewX(10deg)
}
.est{
    transform: skewX(15deg)
}
.sudest{
    transform: skewX(20deg)
}

/* FORCE DU VENT */
.none{
    -webkit-text-stroke: 0px var(--main-txt-color);
}

.verySlow{
    -webkit-text-stroke: 1px var(--main-txt-color);
}

.slow{
    -webkit-text-stroke: 2px  var(--main-txt-color);
}

.quick{
    -webkit-text-stroke: 3px var(--main-txt-color);
}

.veryQuick{
    -webkit-text-stroke: 4px var(--main-txt-color);
}

/* NUAGEUX */
.veryShiny{
    filter: blur(0px);
}

.shiny{
    filter: blur(2px);
}

.cloudy{
    filter: blur(3px);
}

.veryCloudy{
    filter: blur(4px);
}



/* RESPONSIVE */
@media only screen and (max-width: 1040px) {

}
